#main-header img {
    width: 100%;
    height: 100%;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bg-black {
    color: #fff;
    background: #000;
}

.hide-cursor {
    cursor: auto !important;
}

.myEmail {
    text-decoration: none;
    color: #292b2c;
}

@media(min-width: 1199px) {
    .port-item {
        padding: 3rem !important;
    }
}

#mySkills {
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 2.4rem;
}

/* #projects {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
} */

@media(max-width: 1199px) {
    #mySkills, #projects {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%;
    }

    #mySkills {
        grid-row-gap: 1.5rem;
    }
    
}

@media(max-width: 800px) {
    #mySkills, #projects {
        display: grid;
        grid-template-columns: 100%;
    }

    #mySkills {
        grid-row-gap: 1rem;
    }
}