#main-header img {
    width: 100%;
    height: 100%;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bg-black {
    color: #fff;
    background: #000;
}

.hide-cursor {
    cursor: auto !important;
}

.myEmail {
    text-decoration: none;
    color: #292b2c;
}

@media(min-width: 1199px) {
    .port-item {
        padding: 3rem !important;
    }
}

#mySkills {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-row-gap: 2.4rem;
}

@media(max-width: 1199px) {
    #mySkills {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-row-gap: 2rem;
    }
}

@media(max-width: 800px) {
    #mySkills {
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 1rem;
    }
}